* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial Rounded MT Bold;
  box-sizing: border-box;
  --offwhite: #ffffff;
  --grey: rgb(218, 218, 218);
}

body {
  height: 100vh;
  background: url("../img/bakgrunn_forslag.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-left: 300px;
  /* 300px: width of sidebar */
  display: grid;
  justify-items: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

input {
  font-size: medium;
}

/*sidebar class*/

.list {
  background: var(--offwhite);
  width: 300px;
  left: 0;
  top: 0;
  height: 100%;
  float: left;
  margin-top: 0px;
  text-align: left;
  align-items: center;
  position: fixed;
  display: grid;
  grid-template-rows: 60px 60px 40px 20px minmax(auto, min-content) 20px minmax(auto, min-content) 20px minmax(auto, min-content) 20px minmax(auto, min-content) auto 30px;
  grid-template-areas: "img" "pL" "myLists" "private" "privateLists" "public" "publicLists" "individual" "individualLists" "shared" "sharedLists" "new" "lO";
}

.list input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 30px;
}

.listSB {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.listSB>img {
  width: 40px;
}

/*homepage*/

.main {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas: "title" "home";
  align-items: center;
}

.home {
  grid-area: home;
  align-items: center;
  background: var(--offwhite);
  padding: 10px;
  opacity: 90%;
  border-radius: 5px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 1fr 50px;
  grid-template-areas: "hL hR" "cL cR" "footerL footerR";
}

.showAllLists {
  grid-template-areas: "hL hR" "cL cL" "footerL footerR" !important;
}

.home input {
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
}

/*publiclist placement*/

#allListsContainer {
  height: 10px;
}

/* New list button in the sidebar */

#addImgSB {
  height: 25px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

#addImgSB:hover {
  background-color: var(--offwhite);
  opacity: 20%;
}

#inpNameSB {
  float:right;
  width:50%;
}

/*Welcome back placement*/

#listTitle {
  cursor: pointer;
  grid-area: title;
  padding-left: 20px;
}

#listTitle:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

.editList {
  grid-area: footerR;
}

#btnShare {
  height: 25px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

#btnShare:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#btnAddPeople {
  height: 25px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

#btnAddPeople:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#btnListDelete {
  height: 25px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

#btnListDelete:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

/*Profile icon*/

#myProfile {
  align-items: center;
  cursor: pointer;
  grid-area: img;
  display: grid;
  grid-template-columns: 30px auto;
}

#myProfile:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#myProfile>img {
  width: 30px;
  margin-left:5px;
}

#myProfile>p {
  padding-left: 10px;
}

/*Profile icon ENDS*/

/* List detail display*/

.deleteable {
  display: grid;
  grid-template-columns: auto 35px;
  align-items: center;
  background-color: var(--grey) !important;
  padding: 0 !important;
}

.task {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
}

.whitebox {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px;
}

.checkbox {
  width: 25px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

.taskName {
  cursor: pointer;
}

.taskName:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

.deleteTask {
  height: 25px;
  cursor: pointer;
  margin-left:10px;
}

.deleteTask:hover {
  opacity: 50%;
}

.newTask {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
  width: 50%;
  background-color: var(--grey) !important;
}

.newTask:hover {
  opacity: 50%;
}

.newTaskInp {
  grid-template-columns: auto 1px !important;
}

.addImgTask {
  height: 20px;
  cursor: pointer;
}

#addImgTask:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

.sharedListDiv {
  display: grid;
  grid-template-columns: auto min-content;
}

.sharedListDiv>p {
  white-space: nowrap;
}

/*log out*/

#logout {
  display: block;
  width: 100%;
  border: none;
  background: linear-gradient(120deg, #9b9b9a, #bbd2c5, #9c9fa1);
  background-size: 200%;
  color: var(--offwhite);
  outline: none;
  cursor: pointer;
  transition: .5s;
  grid-area: lO;
  padding: 10px;
}

#logout:hover {
  background-position: right;
}

/*log out ENDS*/

/* general list box style */

.container {
  background-color: var(--grey);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  overflow-x: scroll;
  height: 100%
}

.container>div {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px 10px 5px;
}

.column {
  cursor: pointer;
  padding-left: 30px;
}

/*left lists box*/

#containerL {
  grid-area: cL;
}

#columnL {
  grid-area: hL;
}

/*left lists box ENDS*/

/*right lists box*/

#containerR {
  grid-area: cR;
}

#columnR {
  grid-area: hR;
}

/*right lists box ENDS*/

#newList {
  grid-area: footerL;
  height: 30px;
  background-color: var(--grey);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: auto 20px;
}

#newList:hover {
  cursor: pointer;
}

#newList:hover {
  opacity: 50%;
}

#addImg {
  height: 20px;
}

#addImg.hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

.inputName {
  border-width: 1px;
}

/*List in sidebar*/

#allLists {
  cursor: pointer;
}

#allLists:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#myList {
  grid-area: myLists;
}

#private {
  cursor: pointer;
  grid-area: private;
}

#private:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#privateLists {
  height: 100%;
  grid-area: privateLists;
  overflow-x: scroll;
}

#public {
  cursor: pointer;
  grid-area: public;
}

#public:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#publicLists {
  height: 100%;
  grid-area: publicLists;
  overflow-x: scroll;
}

#individual {
  cursor: pointer;
  grid-area: individual;
}

#individual:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#individualLists {
  grid-area: individualLists;
  height: 100%;
  overflow-x: scroll;
}

#shared {
  cursor: pointer;
  grid-area: shared;
}

#shared:hover {
  background-color: var(--offwhite);
  opacity: 50%;
}

#sharedLists {
  grid-area: sharedLists;
  height: 100%;
  overflow-x: scroll;
}

#newListSB {
  grid-area: new;
  height: 100%;
}

.subheading {
  padding-left: 20%;
}

.subsubheading {
  padding-left: 25%;
}

.listName {
  cursor: pointer;
}

.listName:hover {
  opacity: 50%;
}

.taskview {
  display: grid;
  grid-template-rows: 60px 20px auto;
  align-items: center;
}

.bell {
  height: 35px;
}

.deadline {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  cursor: pointer;
}

.notesDiv {
  display: grid;
  grid-template-columns: auto 20px;
  align-items: center;
}

.notesDiv>img {
  height: 20px;
  cursor: pointer;
}

.notes {
  height: calc(100% - 10px);
  margin: 5px 5px 10px 5px;
}