* {
    font-family: Arial Rounded MT Bold;
}

body {
    min-height: 100vh;
    background: url("../img/bakgrunn_forslag.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}

.main {
    width: 30%;
    height: 90%;
    display: grid;
    grid-template-rows: 100px auto;
    justify-items: center;
}

#avatar {
    height: 200px;
    z-index: 9999;
}

#avatar:hover {
    opacity: 90%;
    background: url("../img/add.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.container {
    width:100%;
    height:calc(90% - 100px);
    max-height: 300px;
    background: white;
    border-radius: 5px;
    display: grid;
    transition: .5s;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    grid-template-rows: 40% 10% 10% 10% 10% 20%;
}

.container>div {
    height: 100%;
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.back {
    display: block;
    width: 3%;
    height: 40px;
    border: none;
    background: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    position: fixed;
    top: 30px;
    left: 3%;
    font-size: 30px;
    padding-bottom: 40px;
}
