* {
    font-family: Arial Rounded MT Bold;
}

body {
    min-height: 100vh;
    background: url("../img/bakgrunn_forslag.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
}

.main {
    width: 30%;
    height: 90%;
    display: grid;
    grid-template-rows: 100px auto;
    justify-items: center;
}

#avatar {
    height: 180px;
    z-index: 9999;
}

#avatar:hover {
    opacity: 70%;
    background: url("../img/add.png");
    background-repeat: no-repeat;
    background-size: 27px 27px;
}

.container {
    width: 100%;
    height: calc(90% - 100px);
    max-height: 300px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: grey;
    display: grid;
    transition: .5s;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container>div {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

.container>div:nth-child(1) {
    margin-bottom: 30px;
}

.back {
    display: block;
    width: 50px;
    height: 10px;
    border: none;
    background: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    position: fixed;
    top: 40px;
    left: 50px;
    font-size: 30px;
    padding-bottom: 40px;
}

.back:hover {
    background-position: left;
    background-color: white;
    opacity: 100%;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--offwhite);
    opacity: 20%;
}

/* Smaller screens */

/* Width */

@media only screen and (max-width: 1000px) {
    .container {
        width: 150%;
    }
}

@media only screen and (max-width: 1000px) {
    #avatar {
        height: 160px;
    }
}

/* Height */

@media only screen and (max-height: 500px) {
    .container {
        grid-template-rows: 25% 15% 15% 15% 15% 25%;
        padding-top: 15%;
        padding-bottom: 10%;
    }
}

@media only screen and (max-height: 500px) {
    #avatar {
        height: 150px;
    }
}

@media (max-height: 490px) and (max-width: 1400px) {
    #avatar {
        height: 140px;
    }
}

/**/

@media (max-height: 490px) and (max-width: 1000px) {
    #avatar {
        height: 120px;
    }
}

@media (max-height: 342px) and (max-width: 700px) {
    #avatar {
        height: 110px;
    }
}

/* For phone (iphone x and galaxy 9)*/

@media only screen and (max-width: 400px) {
    .back {
        width: 15%;
        height: 1%px;
        top: 1%;
        left: 0px;
        background: none;
    }
}

@media only screen and (max-width: 400px) {
    #avatar {
        height: 150px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        grid-template-rows: 20% 10% 10% 10% 10% 20%;
        width: 180%;
        position: relative;
        left: -20px;
    }
}