


body{
    min-height: 100vh;
    background: url("../img/bakgrunn_forslag.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center; 

    
}

#addImg {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    cursor: pointer;  

}

*{
    font-family: Arial Rounded MT Bold;
}


.container{
    display: block;
    width: 5%;
    height: 50px;
    transition: .5s;
    white-space: nowrap;
    text-align: center; 
      
}


button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    
}


.logout {
    grid-area: logout;
}


.back {
    display: block;
    width: 3%;
    height: 40px;
    border: none;
    background: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    position: relative;
    top: 30px;
    left: 3%;
    font-size: 30px;
    padding-bottom: 40px;
    
    
}


div {
    width: 360px;
    background: white;
    height: 350px;
    width: 400px;
    padding: 80px 60px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 30px 90px 60px 60px 60px 80px 50px;
    grid-template-areas: "img" "username" "email" "changeEmail" "changeUsername" "resetPassword" "logout";
    
}

  
